// Body
$body-bg: #f8fafc;

@font-face {
    font-family: 'Minute';
    src: url('/fonts/Minute.otf');
    font-weight: normal;
    font-style: normal;
}

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$handwritten: 'Minute', cursive;
$font-size-base: 1.1rem;
$line-height-base: 1.1;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$teal-dark: #1c5a56;
$cyan: #6cb2eb;
$primary: #40b8b3;
$black: #000000;
$white: #f8fafc;
