// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

p {
    line-height: 1.5;
}

.border-top-teal {
    border-top: 2px solid $teal;
    padding-top: 10px;
}

.border-bottom-teal {
    border-bottom: 2px solid $teal;
    padding-bottom: 10px;
}

.brand {
    position: absolute;
    left: 40%;
    padding: 20px;
}

.btn-primary {
    background-color: $primary;
}

.btn-round-white {
    width: 150px;
    height: 150px;
    border: 2px solid $teal;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    font-family: $handwritten;
    font-size: 1.6rem;
    color: $teal;
    background-color: $white;
    padding: 15px;
    transition: 0.5s all;
}

.btn-round-teal {
    width: 150px;
    height: 150px;
    border: 2px solid $teal;
    border-radius: 50%;
    background-color: $teal;
    color: $white;
    text-decoration: none;
    text-align: center;
    font-family: $handwritten;
    font-size: 1.6rem;
    padding: 15px;
    transition: 0.5s all;
}

.btn-round-white:hover {
    background-color: $teal;
    color: $white;
    box-shadow: 5px 5px 5px $secondary;
}

.btn-round-teal:hover {
    background-color: $white;
    color: $teal;
    box-shadow: 5px 5px 5px $secondary;
}

.round-text {
    width: 80px;
    align-items: center;
}

///datepicker
.theme-teal .vdatetime-popup__header,
.theme-teal .vdatetime-calendar__month__day--selected > span > span,
.theme-teal .vdatetime-calendar__month__day--selected:hover > span > span {
    background: $primary;
}

.theme-teal .vdatetime-year-picker__item--selected,
.theme-teal .vdatetime-time-picker__item--selected,
.theme-teal .vdatetime-popup__actions__button {
    color: $primary;
}

.blockquote-footer {
    color: black;
    font-style: italic;
}



.nav-link {
    color: $primary;
    font-weight: bold;
    border-bottom: 2px solid $teal;
    transition: 0.5s all;
    margin: 0.8rem;
}

.nav-link:hover,
.nav-link-active {
    color: $black;
    border-bottom: 2px solid $teal-dark;
    text-underline-offset: 10px;
}

.header {
    background-color: $teal;
}

.header-nadpis {
    padding-left: 5%;
    width: 100%;
    height: auto;
    z-index: 2;
}

.header-text {
    padding-top: 5vh;
    padding-right: 5vw;
}

.headline {
    color: $teal;
    border-bottom: 2px solid $teal;
}

.rozdelovnik-header {
    width: 100px;
}

.handwritten {
    font-family: $handwritten;
}

.endorsement-img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.bigger {
    font-size: 1.7rem;
}

.big {
    font-size: 2.3rem;
}

.black {
    color: black;
}

.black:hover {
    color: $teal;
    text-decoration: none;
}

.teal-big {
    color: $teal;
    font-size: 2.5rem;
}

.teal {
    color: $teal;
}

.thumbnail {
    max-width: 150px;
    height: auto;
}

.page-head {
    width: 100%;
    height: auto;
}

#tabulka {
    font-size: 1rem;
}


@media (max-width: 1365px) {
    .navbar-brand {
        font-size: 0.9rem;
        padding-left: 0;
    }

    .header-nadpis {
        display: inline-block;
        padding-left: 5vw;
        width: 88vw;
        height: auto;
        z-index: 2;
    }

    .header-text {
        display: none;
    }
}
