<template>
    <div>
        <textarea id="content-editor" name="content" class="form-control" required>

        </textarea>
    </div>
</template>

<script>
export default {
    name: "Ckeditor.vue",
    props: ['content'],
    mounted() {
        let options = {
            filebrowserImageBrowseUrl: '/admin/upload?type=Images',
            filebrowserImageUploadUrl: '/admin/upload/upload?type=Images&_token=',
            filebrowserBrowseUrl: '/admin/upload?type=Files',
            filebrowserUploadUrl: '/admin/upload/upload?type=Files&_token='
        };

        CKEDITOR.replace('content-editor', options);

        if (this.content != null) {
            CKEDITOR.instances['content-editor'].setData(this.content)
        }
    }
}
</script>

<style scoped>

</style>
