<template>
    <div>
        <div class="fb-page" data-href="https://www.facebook.com/sabatovaanna" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/sabatovaanna" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/sabatovaanna">Aktuality na FB</a></blockquote></div>
    </div>
</template>

<script>
export default {
    name: "Facebook"
}
</script>

<style scoped>

</style>
